<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <title>Fontello - easy iconic fonts composer</title>
    <meta name="description" content="Nice tool to build custom fonts with icons."/>

    <!-- schema.org microformats for g+ -->
    <meta itemprop="name" content="Fontello.com - Iconic fonts scissors">
    <meta itemprop="description" content="Easy way to create custom iconic font for your site.
      Select images from large collection, and make webfont pack with one click.">
    <meta itemprop="image" content="/snippet.png">

    <!-- styles -->
    <link href="<%= asset_path('app.css') %>" rel="stylesheet"/>

    <!-- the fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <script type="text/javascript"><%- asset_include('modernizr.js') %></script>

    <script type="text/javascript">window.REALTIME_ID = '<%- random() %>';</script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31060395-1']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- Defered loading -->
    <script type="text/javascript" src="<%= asset_path('app.js') %>" defer></script>

  </head>

  <body>

    <div class="navbar-fixed-top">

      <!-- top menu -->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <h1 class="brand">Fontello - iconic fonts scissors</h1>
            <ul class="nav">
              <li><a href="https://groups.google.com/group/fontello" target="_blank">Discuss</a></li>
              <li><a href="https://github.com/fontello/fontello/issues" target="_blank">Bug reports</a></li>
              <li><a href="https://github.com/fontello/fontello#readme" target="_blank">About</a></li>
              <li><a href="https://twitter.com/puzrin" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a></li>
              <li><a href="https://twitter.com/share" class="twitter-share-button"
               data-url="http://fontello.com"
               data-text="Fontello - scissors for iconic webfonts.">Tweet</a></li>
              <li class="gplus"><div class="g-plusone" data-size="medium"></div></li>
              <li><a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://fontello.com"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- top toolbar/tabs -->
      <div class="container toolbar">
        <div id="toolbar" class="btn-toolbar">
          <div class="btn-group search-form">
            <input id="search" class="input-medium search-query" type="text" placeholder="search" autocomplete="off">
          </div>
          <div class="btn-group">
            <div id="glyph-size-slider"></div>
            <div id="glyph-size-value"><%= config('fontomas.glyph_size.val') %>px</div>
          </div>

          <div class="btn-group pull-right">
            <a id="result-download" class="btn btn-info disabled icon-download">
              Download your font pack (<span id="selected-glyphs-count">0</span>)
            </a>
          </div>

          <div class="btn-group pull-right">
            <input id="result-fontname" class="input-medium _tip" type="text" placeholder="file name" autocomplete="off"
             title="Font files will have this name. Use only small 'a'-'z' letters, '-' and '_'" data-placement="bottom">
          </div>

          <input id="import-app-config-file" class="hidden" type="file" />

          <div class="btn-group pull-right">

            <a class="btn dropdown-toggle icon-cog" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a id="import-app-config" href="#">Import 'config.json'</a></li>
              <li class="divider"></li>
              <li><a id="reset-app-selections" href="#">Unselect glyphs</a></li>
              <li><a id="reset-app-all" href="#">Reset all changes</a></li>
            </ul>
          </div>

        </div>

        <ul id="tabs" class="nav nav-tabs">
          <li><a data-toggle="tab" data-submenu="#selector-menu" href="#selector">Select Icons</a></li>
          <li><a class="disabled" data-toggle="tab" data-submenu="#preview-menu" href="#preview">Preview<!-- / Change names--></a></li>
          <li><a class="disabled" data-toggle="tab" data-submenu="#codes-editor-menu" href="#codes-editor">Edit codes</a></li>
        </ul>

        <div class="stats">online users: <span id="stats-online"><%= count_online_users() %></span></div>

      </div>
    </div>

    <div class="container">


      <div class="tab-content" id="myTabContent">
        <!-- tab0 `Loading`-->
        <div id="loading" class="tab-pane fade active in">
            Loading...
        </div>

        <!-- tab1 `Select`-->
        <div id="selector" class="tab-pane fade">
          <ul id="selector-fonts" class="unstyled"></ul>
        </div>

        <!-- tab2 `Preview` -->
        <div id="preview" class="tab-pane fade">
          <div id="preview-font" class="row">
          </div>
        </div>

        <!-- tab3 `Download` -->
        <div id="codes-editor" class="tab-pane fade">
          <p>Click symbol codes on black lines to edit</p>
          <div id="result-font">
          </div>
        </div>

      </div> <!-- /tab-content -->

    </div> <!-- /container -->


    <div class="gh-ribbon">
      <a href="https://github.com/fontello/fontello" target="_blank" title="Fork me on GitHub">Fork me on GitHub</a>
    </div>

    <div class="jsnotice"><div class="alert alert-error">Fontello will not work without javascript!</div></div>

    <div id="err-bad-browser" class="modal hide fade" style="display: none;">
      <div class="modal-header">
        <h1>Bad Browser</h1>
      </div>
      <div class="modal-body">
        <p>We have bad news for you - <strong>this application requires modern browser</strong>.
           Please, upgrade and come back. Currently we support:</p>
        <p>
          <ul>
            <li><a href="http://www.mozilla.com/firefox/">Firefox 10+</a></li>
            <li><a href="http://www.google.com/chrome/">Chrome 16+</a></li>
            <li><a href="http://www.opera.com/browser/">Opera 11.62+</a></li>
          </ul>
        </p>
      </div>
    </div>

    <!-- templates
    ================================================== -->
    <script data-tpl-id="error:no-config-import" type="text/x-template">
      Config importer requires <strong>modern browser</strong>.
      Please, <a href="http://www.mozilla.org/firefox/new/">upgrade</a>
      your browser to be able import your previous configurations.
    </script>
    <script data-tpl-id="error:invalid-config-file" type="text/x-template">
      Config must be a JSON file.
    </script>
    <script data-tpl-id="error:read-config-failed" type="text/x-template">
      Failed read your config file: <em>{{error}}</em>.
    </script>
    <script data-tpl-id="error:rpc:version-mismatch" type="text/x-template">
      Application is outdated. Please
      <a href="/" style="text-decoration:underline"><strong>reload</strong></a>
      the page.
    </script>
    <script data-tpl-id="error:rpc" type="text/x-template">
      Internal error happened during processing your request:
      <em>"{{error}}"</em>. Please, try again later.
    </script>
    <script data-tpl-id="error:font-generate" type="text/x-template">
      Internal error happened when tryed to build your font.
      We are going to retry in next few seconds. Please wait...
    </script>
    <script data-tpl-id="selector:download-banner" type="text/x-template">
      Are you designer? <a href="https://github.com/fontello/fontello/wiki/How-to-help" target="_blank">You can help</a> us improve fontello!
    </script>
    <script data-tpl-id="selector:max-glyphs-error" type="text/x-template">
      You can&#39;t select more than {{max}} icons at once.
      If you have a real use-case, please,
      <a href="https://github.com/fontello/fontello/issues/new">create</a>
      ticket in issue tracker.
    </script>
    <script data-tpl-id="selector:font-info" type="text/x-template">
      <div class="modal fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>{{font.fullname}}</h3>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            {{#if meta}}
              {{#with meta}}
                {{#if licence}}
                  <dt>Licence:</dt>
                  <dd>
                    {{#if licence_url}}
                      <a href="{{licence_url}}" target="_blank">{{licence}}</a></dd>
                    {{else}}
                      {{licence}}
                    {{/if}}
                  </dd>
                {{/if}}
                {{#if author}}
                  <dt>Author:</dt>
                  <dd>{{author}}</dd>
                {{/if}}
                {{#if email}}
                  <dt>Email:</dt>
                  <dd><a href="mailto:{{email}}">{{email}}</a></dd>
                {{/if}}
                {{#if homepage}}
                  <dt>Homepage:</dt>
                  <dd><a href="{{homepage}}" target="_blank">{{homepage}}</a></dd>
                {{/if}}
                {{#if twitter}}
                  <dd><a href="{{twitter}}" target="_blank">Twitter</a></dd>
                {{/if}}
                {{#if dribble}}
                  <dd><a href="{{dribble}}" target="_blank">Dribble</a></dd>
                {{/if}}
                {{#if github}}
                  <dd><a href="{{github}}" target="_blank">Github</a></dd>
                {{/if}}
              {{/with}}
            {{/if}}
          </dl>
        </div>
      </div>
    </script>
    <script data-tpl-id="font-item" type="text/x-template">
      <h2 class="src-font-head"><a class="label label-important font-info" href="#">info</a>
        <a class="src-font-name _collapser" href="#">{{fontname}}</a>
      </h2>
      <ul class="unstyled font-glyphs {{css_class}}"></ul>
    </script>
    <script data-tpl-id="preview:glyph" type="text/x-template">
      <span class="{{fnt}}">{{chr}}</span> {{css}}
    </script>
    <script data-tpl-id="resultfont-glyph-item" type="text/x-template">
      <div class="top">{{{top}}}</div>
      <div class="top edit">
        <table>
          <tbody>
            <tr>
              <td><input type="text"/></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="center {{css_class}}">{{{char}}}</div>
      <div class="bottom">{{bottom}}</div>
      <div class="bottom edit">
        <table>
          <tbody>
            <tr>
              <td>U+</td>
              <td><input type="text"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </script>

<!-- Twitter button generator -->

<script type="text/javascript"></script>

<!-- Google +1 -->
<script type="text/javascript">
</script>

  </body>
</html>
