!!! 5
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
head
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  link(rel="stylesheet", href="demo/bootstrap/css/bootstrap.css")
  link(rel="stylesheet", href="demo/demo.css")
  link(rel="stylesheet", href="#{font.fontname}.css")
body
  .container
    .page-header
      h1: | #{font.fullname} font icons demo
    .row
      - var col_class = "span" + Math.ceil(12 / meta.columns)
      - var chunk_size = Math.ceil(glyphs.length / meta.columns)
      - for (var i = 0; i < meta.columns; i++)
        div(class=col_class)
          ul.the-icons
            - var offset = i * chunk_size
            - for (var c = 0; c < chunk_size && glyphs[offset + c]; c++)
              - var g = glyphs[offset + c]
              - var css_class = meta.css_prefix + (g.css || g.file)
              | <li><i class="#{css_class}"></i> #{css_class}</li>
