!!! 5
html.no-js(lang='en', itemscope, itemtype='http://schema.org/WebPage')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    title Fontello - easy iconic fonts composer
    meta(name="description", content="Nice tool to build custom fonts with icons.")

    // schema.org microformats for g+
    meta(itemprop="name", content="Fontello.com - Iconic fonts scissors")
    meta(itemprop="description", content="Easy way to create custom iconic font for your site. Select images from large collection, and make webfont pack with one click.")
    meta(itemprop="image", content="/snippet.png")

    // styles
    link(href=self.asset_path('app.css'), rel="stylesheet")

    // the fav and touch icons
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    script(type="text/javascript") !{self.asset_include('loader.js')}

    // Google Analytics
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31060395-1']);
      _gaq.push(['_setSiteSpeedSampleRate', 100]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    .navbar-fixed-top

      // top menu
      .navbar.navbar-inverse
        .navbar-inner
          .container
            h1.brand Fontello - iconic fonts scissors
            ul.nav
              li: a(href="https://groups.google.com/group/fontello", target="_blank") Discuss
              li: a(href="https://github.com/fontello/fontello/issues", target="_blank") Bug reports
              li: a(href="https://github.com/fontello/fontello#readme", target="_blank") About
              li: a.twitter-follow-button(href="https://twitter.com/puzrin", data-show-count="false", data-show-screen-name="false") Follow
              li: a.twitter-share-button(href="https://twitter.com/share", data-url="http://fontello.com", data-text="Fontello - scissors for iconic webfonts.") Tweet
              li.gplus
                .g-plusone(data-size="medium")
              li: a.FlattrButton(style="display:none;", rev="flattr;button:compact;", href="http://fontello.com")

      // top toolbar/tabs
      .container.toolbar
        #toolbar.btn-toolbar.clearfix

          .btn-group.search-form.pull-left
            input#search.input-medium.search-query(type="text", placeholder="search", autocomplete="off")
            .icon-search

          .btn-group.pull-left
            #glyph-size-slider
            #glyph-size-value #{self.nodeca('config.app.glyph_size.val')}px

          .btn-group.pull-left
            .switch-3d
              input#glyph-3d(type="checkbox", checked)
              |  3D

          .btn-group.pull-right
            a#result-download.btn.btn-info.disabled.icon-download
              |  Download webfont (
              span#selected-glyphs-count 0
              | )

          .btn-group.pull-right
            input#result-fontname.input-medium._tip(type="text",
              placeholder="file name",
              autocomplete="off",
              title="Font files will have this name. Use only small 'a'-'z' letters, '-' and '_'",
              data-placement="bottom")

          input#import-app-config-file.invisible(type="file")

          .btn-group.pull-right

            a.btn.dropdown-toggle.icon-settings(data-toggle="dropdown", href="#")
              span.caret

            ul.dropdown-menu
              li: a#import-app-config(href="#")
                | Import <em>config.json</em>
              li.divider
              li: a#reset-app-selections(href="#") Unselect glyphs
              li: a#reset-app-all(href="#") Reset all changes

        ul#tabs.nav.nav-tabs
          li: a(data-toggle="tab", data-submenu="#selector-menu", href="#selector") Select Icons
          // Change names
          li: a.disabled(data-toggle="tab", data-submenu="#preview-menu", href="#preview") Preview
          li: a.disabled(data-toggle="tab", data-submenu="#codes-editor-menu", href="#codes-editor") Edit codes

        a.donate(target='_blank', href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=575L9QR4V5TNU') Donate via paypal
    != self.content

    .gh-ribbon
      a(href="https://github.com/fontello/fontello", target="_blank", title="Fork me on GitHub") Fork me on GitHub

    .jsnotice
      .alert.alert-error Fontello will not work without javascript!

    #err-bad-browser.modal.hide.fade(style="display: none;")
      .modal-header
        h1 Bad Browser
      .modal-body
        p
          | We have bad news for you - <strong>this application requires modern browser</strong>.
          | Please, upgrade and come back. Currently we support:
        p
          ul
            li: a(href="http://www.mozilla.com/firefox/") Firefox 10+
            li: a(href="http://www.google.com/chrome/") Chrome 16+
            li: a(href="http://www.opera.com/browser/") Opera 11.62+
