- var i, f
- for (i in used_fonts)
  - f = used_fonts[i]
  | ## #{f.font.fullname}
  |    #{f.font.copyright}
  != '\n'
  |    Author:    #{f.meta.author}
  |    License:   #{f.meta.licence} (#{f.meta.license_url})
  |    Homepage:  #{f.meta.homepage}
  != '\n\n'
