| Font license info
!= '\n\n\n'

- _.forEach(fonts_info, function (info) {
  | ## #{info.fontname}
  != '\n\n'
  |    #{info.copyright}
  != '\n\n'
  |    Author:    #{info.author}
  |    License:   #{info.license} (#{info.license_url})
  |    Homepage:  #{info.homepage}
  != '\n\n\n'
- })
