| Font license info
!= '\n\n\n'

each info in fonts_list
  | ## #{info.font.fullname}
  != '\n\n'
  |    #{info.font.copyright}
  != '\n\n'
  |    Author:    #{info.meta.author}
  |    License:   #{info.meta.license} (#{info.meta.license_url})
  |    Homepage:  #{info.meta.homepage}
  != '\n\n\n'
