doctype html
html.no-js(lang='en', itemscope, itemtype='http://schema.org/WebPage')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    title= self.t('title')
    meta(name="description", content=self.t('description'))

    //- schema.org microformats for g+
    meta(itemprop="name", content=self.t('title'))
    meta(itemprop="description", content=self.t('desc_long'))
    meta(itemprop="image", content="/snippet.png")

    //- styles
    if self.head.stylesheets[self.apiPath.split('.').shift()]
      each cssPath in self.head.stylesheets[self.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    //- the fav and touch icons
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    script(type="text/javascript").
      !{self.asset_body(N.mainApp.root + '/client/lib/loader/loader.js')}

      var shims = [];

      NodecaLoader.loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.apiPath.split(".").shift()}',
        shims
      );

    if self.inject_headers
      != self.inject_headers.join('\n')

  body
    .layout__fixed
      nav.layout__navbar.navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            button.navbar-toggle(
              data-toggle='collapse',
              data-target='.navbar-collapse',
              type='button'
            )
              span.icon-bar
              span.icon-bar
              span.icon-bar

            a.navbar-brand(href="/")= self.t('title')

          //- top menu
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  = self.t('menu_feedback')
                  b.caret
                ul.dropdown-menu._popover(
                  data-content=self.t('menu_bugreports_help'),
                  data-placement='right',
                  data-trigger='hover',
                  data-container='.layout__fixed'
                  data-delay='{"show":500,"hide":100}'
                )
                  li: a(href="https://groups.google.com/group/fontello", target="_blank")= self.t('menu_discuss')
                  li: a(href="https://github.com/fontello/fontello/wiki/How-to-help", target="_blank")= self.t('menu_how_to_help')
                  li: a(href="https://github.com/fontello/fontello/issues", target="_blank")= self.t('menu_bugreports')

              li: a(href="https://github.com/fontello/fontello#developers-api", target="_blank") API
              li: a(href="https://github.com/fontello/fontello", target="_blank") GitHub

            ul.nav.navbar-nav.hidden-sm
              li: a.twitter-follow-button(href="https://twitter.com/puzrin", data-show-count="false", data-show-screen-name="false")= self.t('twitter_follow')
              li: a.twitter-share-button(href="https://twitter.com/share", data-url="http://fontello.com", data-text=self.t('twitter_text'))= self.t('twitter_share')
              li.gplus
                .g-plusone(data-size="medium")

            ul.nav.navbar-nav.navbar-right
              li: a(
                target='_blank',
                href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=575L9QR4V5TNU',
                data-content=self.t('menu_donate_help'),
                data-placement='bottom',
                data-trigger='hover',
                data-container='.layout__fixed'
                data-delay='{"show":500,"hide":100}'
              )._popover= self.t('menu_donate')

          .notifications

      //- top toolbar/tabs
      .toolbar-container
        != self.partial('@fontello.blocks.toolbar')
      .tabs-container.container
        != self.partial('@fontello.blocks.tabs')

    != self.content

    .nojs
      .alert.alert-danger= self.t('nojs')

    .nocookies
      .alert.alert-danger= self.t('nocookies')


    div#runtime(style="display: none")= JSON.stringify(self.runtime)
