doctype html
html.no-js(lang='en', itemscope, itemtype='http://schema.org/WebPage')
  head
    //- http://validator.w3.org  recommendation
    meta(charset='UTF-8')

    title= self.t('title')
    meta(name="description", content=self.t('description'))

    //- schema.org microformats for g+
    meta(itemprop="name", content=self.t('title'))
    meta(itemprop="description", content=self.t('desc_long'))
    meta(itemprop="image", content="/snippet.png")

    //- styles
    if self.head.stylesheets[self.apiPath.split('.').shift()]
      each cssPath in self.head.stylesheets[self.apiPath.split('.').shift()]
        link(rel='stylesheet', href=cssPath)

    //- the fav and touch icons
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    script(type="text/javascript").
      !{self.asset_body(N.mainApp.root + '/client/lib/loader/loader.js')}

      var shims = [];

      NodecaLoader.loadAssets.init(
        !{JSON.stringify(self.head.assets)},
        '!{self.apiPath.split(".").shift()}',
        shims
      );

    if self.inject_headers
      != self.inject_headers.join('\n')

  body
    .layout__fixed
      .layout__navbar.navbar.navbar-dark.bg-dark.navbar-static-top.navbar-expand-md
        .container-fluid
          a.navbar-brand(href="/")= self.t('title')

          button.navbar-toggler(
            data-bs-toggle='collapse',
            data-bs-target='.navbar-collapse',
            type='button'
          )
            span.navbar-toggler-icon

          //- top menu
          .navbar-collapse.collapse
            ul.navbar-nav
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-bs-toggle='dropdown', href='#')
                  = self.t('menu_feedback')
                ul.dropdown-menu._popover(
                  data-bs-content=self.t('menu_bugreports_help'),
                  data-bs-placement='right',
                  data-bs-trigger='hover',
                  data-bs-container='.layout__fixed'
                )
                  li: a.dropdown-item(href="https://gitter.im/fontello/fontello", target="_blank")= self.t('menu_discuss')
                  li: a.dropdown-item(href="https://github.com/fontello/fontello/wiki/How-to-help", target="_blank")= self.t('menu_how_to_help')
                  li: a.dropdown-item(href="https://github.com/fontello/fontello/issues", target="_blank")= self.t('menu_bugreports')

              li.nav-item
                a.nav-link(href="https://github.com/fontello/fontello#developers-api", target="_blank") API

              li.nav-item
                a.nav-link(href="https://github.com/fontello/fontello", target="_blank") GitHub

            ul.navbar-nav.hidden-sm
              li.nav-item
                a.nav-link.twitter-follow-button(href="https://twitter.com/puzrin", data-show-count="false", data-show-screen-name="false")= self.t('twitter_follow')

              li.nav-item
                a.nav-link.twitter-share-button(href="https://twitter.com/share", data-url="https://fontello.com", data-text=self.t('twitter_text'))= self.t('twitter_share')

              li.nav-item.gplus
                .g-plusone(data-size="medium")

            ul.navbar-nav.ms-auto
              li.nav-item
                a.nav-link(
                  href='https://github.com/fontello/fontello?sponsor=1'
                  target='_blank'
                )= self.t('menu_donate')

          .notifications

      //- top toolbar/tabs
      .toolbar-container
        != self.partial('@fontello.blocks.toolbar')
      .tabs-container.container-fluid
        != self.partial('@fontello.blocks.tabs')

    != self.content

    .nojs
      .alert.alert-danger= self.t('nojs')

    .nocookies
      .alert.alert-danger= self.t('nocookies')


    div#runtime(style="display: none")= JSON.stringify(self.runtime)
