#toolbar.btn-toolbar.clearfix

  .btn-group.search-form.pull-left
    input#search.input-medium.search-query(
      type='text',
      placeholder='search',
      autocomplete='off')
    .icon-search

  .btn-group.pull-left
    #glyph-size-slider
    #glyph-size-value(data-bind='text: fontSize() + "px"')

  .btn-group.pull-right
    a#result-download.btn.btn-info.disabled(
      data-bind='css: {disabled: !selectedCount()}, click: startDownload')
      i.icon-download(data-bind='visible: !building()')
      i.icon-load.animate-spin(style='display:none', data-bind='visible: building()')
      |  Download webfont (
      span#selected-glyphs-count(data-bind='text: selectedCount()')
      | )

  .btn-group.pull-right
    input#result-fontname.input-medium._tip(type='text',
      placeholder='file name',
      autocomplete='off',
      title='Font files will have this name. Use only small "a"-"z" letters, "-" and "_"',
      data-bind='value: fontname',
      data-placement='bottom')

  .btn-group.pull-right

    a.btn.dropdown-toggle.icon-settings(data-toggle='dropdown', href='#')
      span.caret

    ul.dropdown-menu
      li: a(href='#', data-bind='click: importFile')
        | Import <em>config.json</em>
      li.divider
      li: a(href='#', data-bind='click: resetSelected') Unselect glyphs
      li: a(href='#', data-bind='click: resetAll') Reset all changes


include ./_tabs/tabs
