.modal.fade
  .modal-dialog
    .modal-content()
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        h4.modal-title= self.t('settings_title')
      .modal-body
        form.form-horizontal
          .form-group
            label.col-sm-3.control-label(for='st__upm')= self.t('units_per_em')
            .col-sm-8
              input#st__upm.form-control(type='text', data-bind='value: units')
              //- span.help-block= self.t('units_per_em_help')
          .form-group
            label.col-sm-3.control-label(for='st__ascent')= self.t('ascent')
            .col-sm-8
              input#st__ascent.form-control(type='text', data-bind='value: ascent')
              //- span.help-block= self.t('ascent_help')
          .form-group
            label.col-sm-3.control-label(for='st__descent')= self.t('descent')
            .col-sm-8
              input#st__descent.form-control(type='text', data-bind='value: descent')
              //- span.help-block= self.t('descent_help')
          .form-group
            label.col-sm-3.control-label(for='st__baseline')= self.t('baseline')
            .col-sm-8
              .input-group
                span.input-group-addon %
                input#st__baseline.form-control(type='text', data-bind='value: baseline')
          .form-group
            .col-sm-offset-3.col-sm-8
              .checkbox
                label
                  input(type='checkbox', data-bind='checked: hinting')
                  | #{self.t('hinting')}

      .modal-footer
        button.btn.btn-default(
          type='button',
          data-dismiss='modal')= self.t('btn_cancel')
        button.btn.btn-primary(
          type='button',
          data-on-click='cmd:settings_dialog.save')= self.t('btn_ok')
