#toolbar.btn-toolbar.clearfix

  .btn-group.search-form.pull-left
    input#search.input-medium.search-query(
      type='text',
      placeholder='search',
      autocomplete='off')
    div.i-search-box
      i.icon-search


  .btn-group.pull-right
    a#result-download.btn.btn-info.disabled(
      data-on-click='build_font',
      data-bind='css: {disabled: !selectedCount()}')
      i.icon-download(data-bind='visible: !building()')
      i.icon-load.animate-spin(style='display:none', data-bind='visible: building()')
      |  Download webfont (
      span#selected-glyphs-count(data-bind='text: selectedCount()')
      | )

  .btn-group.pull-right
    input#result-fontname.input-medium._tip(type='text',
      placeholder='file name',
      autocomplete='off',
      title='Font files will have this name. Use only small "a"-"z" letters, "-" and "_"',
      data-bind='value: fontname',
      data-placement='bottom')

  .btn-group.pull-right

    a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
      i.icon-settings
      span.caret

    ul.dropdown-menu
      li: a(href='#', data-on-click='import.start')
        | Import <em>config.json</em>
      li.divider
      li: a(href='#', data-on-click='reset_selected') Unselect glyphs
      li: a(href='#', data-on-click='reset_all_confirm') Reset all changes

  .btn-group.pull-right
    #glyph-size-slider
    #glyph-size-value(data-bind='text: fontSize() + "px"')
