.modal.fade
  .modal-header
    a.close(data-dismiss="modal") ×
    h3 #{self.font.fullname}
  .modal-body
    dl.dl-horizontal
      - if (self.meta)
        - var meta = self.meta
        - if (meta.license)
          dt License:
          dd
            - if (meta.license_meta)
              a(href=meta.license_meta, target="_blank") #{meta.license}
            - else
              | #{meta.license}
        - if (meta.author)
          dt Author:
          dd #{meta.author}
        - if (meta.email)
          dt Email:
          dd: a(href="mailto:#{meta.email}") #{meta.email}
        - if (meta.homepage)
          dt Homepage:
          dd: a(href="#{meta.homepage}", target="_blank") #{meta.homepage}
        - if (meta.twitter)
          dd: a(href="#{meta.twitter}", target="_blank") Twitter
        - if (meta.dribbble)
          dd: a(href="#{meta.dribbble}", target="_blank") Dribbble
        - if (meta.github)
          dd: a(href="#{meta.github}", target="_blank") Github
